* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}

body {
  background-color: #d8dbd5;
}

#green {
  background-color: #009688;
  height: 127px;
}

div.container {
  width: 73%;
  position: absolute;
  left: 13.5%;
  top: 2%;
  height: calc(100vh - (100vh * 0.04));
  display: flex;
  justify-content: flex-start;
}

#parteSx {
  width: 30%;
  height: 100%;
}

#userData {
  height: 60px;
  background-color: #ededed;
}

#notifiche {
  height: 85px;
  background-color: #9de1fe;
}

#cercaChat {
  height: 50px;
  background-color: #f6f6f6;
}

#allChat {
  height: calc(100% - 195px);
  overflow-y: auto;
  background-color: #ffffff;
}

.Chat {
  height: 80px;
  background-color: #ffffff;
}


#parteDx {
  width: 70%;
  height: 100%;
}

#datiContatto {
  height: 60px;
  background-color: #ededed;
  border-left: 1px solid grey;
}

#spazioChat {
  height: calc(100% - 120px);
  overflow-y: auto;
  background-image: url(../img/mine.jpg);
}

#inputMessaggio {
  height: 60px;
  background-color: #f0f0f0;
  border-left: 1px solid grey;
}
